@use '@styles/all' as *;

.wrapper {
    @extend .general-content-wrapper;

    h2 {
        @extend .heading-md;
        margin-bottom: px-to-rem(8);
    }
}

.title {
    @extend .page-title;
}

.top-section {
    display: flex;
    flex-direction: column;
    gap: spacing(300);

    ul {
        @extend .body-md;
        @extend .remove-ul-style;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(2, auto);
        gap: spacing(100) spacing(200);

        li {
            gap: spacing(75);
        }

        @include respond(sm) {
            grid-template-columns: 1fr;
        }
    }

    @include respond(sm) {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.how-section {
    p:not(:last-of-type) {
        margin-bottom: px-to-rem(30);
    }
}

.lifestyle-image-row {
    @extend .remove-ul-style;
    display: flex;
    gap: spacing(200);

    .lifestyle-line-item {
        width: 100%;
    }

    .lifestyle-fallback-wrapper {
        aspect-ratio: 1;
        width: 100%;
        height: 100%
    }
    
    img {
        display: flex;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        aspect-ratio: 1;
        width: 100%;
        height: 100%;
    }

    @include respond(sm) {
        flex-wrap: wrap;
    }

    @include respond(xs) {
        flex-direction: column;
        gap: spacing(200);
    }
}