@use '@styles/variables' as *;
@use '@styles/typography' as *;
@use '@styles/functions' as *;
@use '@styles/mixins' as *;

.about-wrapper {
    @include wrapper-max-width(content);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: px-to-rem(40);
    font-size: px-to-rem(20);

    h2 {
        @extend .heading-small;
        margin-bottom: px-to-rem(8);
    }
}

.top-section {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(24);

    ul {
        @extend .body-medium;
        @extend .remove-ul-style;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(2, auto);
        gap: px-to-rem(8) px-to-rem(16);

        li {
            gap: px-to-rem(6);
        }

        @include respond(sm) {
            grid-template-columns: 1fr;
        }
    }

    @include respond(sm) {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.how-section {
    p:not(:last-of-type) {
        margin-bottom: px-to-rem(30);
    }
}

.lifestyle-image-row {
    @extend .remove-ul-style;
    display: flex;
    gap: px-to-rem(16);

    .lifestyle-line-item {
        width: 100%;
    }

    .lifestyle-fallback-wrapper {
        aspect-ratio: 1;
        width: 100%;
        height: 100%
    }
    
    img {
        display: flex;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        aspect-ratio: 1;
        width: 100%;
        height: 100%;
    }

    @include respond(sm) {
        flex-wrap: wrap;
    }

    @include respond(xs) {
        flex-direction: column;
        gap: px-to-rem(16);
    }
}