@use '@styles/all' as *;

.work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: spacing(300); // 24px

    // First card spans both columns in the first row
    & > :nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    & > :nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    & > :nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    @include respond(md) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: spacing(200); // 16px

        & > :nth-child(1),
        & > :nth-child(2),
        & > :nth-child(3) {
            grid-column: 1 / 2;
            grid-row: auto;
        }
    }

    @include respond(sm) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;

        & > :nth-child(1),
        & > :nth-child(2),
        & > :nth-child(3) {
            grid-column: 1 / 2;
            grid-row: auto;
        }
    }
}