.section-title {
	@extend .heading-md;
	margin-bottom: var(--size-space-sm); // 8px
}

.section-paragraph:not(:last-of-type) {
	margin-bottom: var(--size-space-2xl); // 24px
}

.section-list {
	margin: 0;
}
