/* StudySection.module.css */

.section-title {
	/* @extend .heading-md; */
	margin-bottom: var(--size-space-sm);
}

.section-paragraph:not(:last-of-type) {
	margin-bottom: var(--size-space-2xl);
}

.section-list {
	margin: 0;
}
