@use './variables' as *;
@use './mixins' as *;
@use './functions' as *;
@use './typography' as *;

.general-content-wrapper {
    @include wrapper-max-width(content);
    @extend .body-md;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: spacing(500); // 40px
}

.dot-text-divider:not(:last-child)::after {
  content: '·';
  display: inline-block;
  height: 100%;
  width: 1em;
  color: var(--color-medium);
  text-align: center;
}