/* Variables */

@use 'sass:math';
@use 'sass:map';

/* ---------------------------------- */
/* --------- Google Fonts ----------- */
/* ---------------------------------- */

// Updated URL includes 400/500 for Inter and 700 for Manrope
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&family=Manrope:wght@400;500;700&display=swap');

/* ---------------------------------- */
/* -------- Color variables --------- */
/* ---------------------------------- */

// Main color palette
$main-colors: (
	primary: #6f42c1,
	dark: #1d0d3a,
	medium: #685e7d,
	light: #eadeff,
	'white': #ffffff,
	background: #ffffff,
	placeholder: #cbd3de,
);

// Group palettes
$group-palettes: (
	primary: (
		title: #30008b,
		chip: #340096,
		link: #5220ac,
		bg: #e1d1ff,
	),
	secondary: (
		title: #00098a,
		chip: #070d6d,
		link: #343aa8,
		bg: #cfd2ff,
	),
	tertiary: (
		title: #005475,
		chip: #00435d,
		link: #01628a,
		bg: #d1f2ff,
	),
);

$sample-shadow-opacity: 0.32;

$states-lightness: (
	hover: -12%,
	pressed: -24%,
);

// Gradients
$gradients: (
	primary: linear-gradient(78deg, #1e0095 9.5%, #a152fb 88.75%),
	primary-hover: linear-gradient(83deg, #1e0095 94.32%, #a152fb 113.41%),
);

/* ---------------------------------- */
/* --------- Size variables --------- */
/* ---------------------------------- */

// Padding and margin sizes
$spacing: (
	none: 0,
	50: 4,
	75: 6,
	100: 8,
	150: 12,
	200: 16,
	250: 20,
	300: 24,
	400: 32,
	500: 40,
	600: 48,
	700: 56,
	800: 64,
	925: 104,
);

$radius: (
	none: 0,
	50: 2,
	100: 4,
	150: 6,
	200: 8,
	300: 12,
	400: 16,
);

// Wrappers for content
$wrapper-widths: (
	content: 750,
	site: 960,
);

// Breakpoints for responsive design
$breakpoints: (
	xs: 340,
	sm: 640,
	md: 900,
	wrapper: map.get($wrapper-widths, site),
);

// Divider offset calculation
$site-width: map.get($wrapper-widths, site);
$content-width: map.get($wrapper-widths, content);
$container-padding: map.get($spacing, 300);
$divider-left: math.div($site-width - $content-width, 2) - $container-padding;

/* ---------------------------------- */
/* ------ Typography variables ------ */
/* ---------------------------------- */

// Families
$font-heading: 'Inter', Arial, sans-serif;
$font-body: 'Manrope', Arial, sans-serif;

// Sizes
$font-size: (
	50: 12,
	75: 14,
	100: 16,
	125: 18,
	150: 20,
	200: 24,
	300: 32,
	400: 40,
	700: 56,
);

$base-font-size: map.get($font-size, 100);

// Line heights
$line-height: (
	100: 1.3,
	200: 1.4,
	300: 1.5,
	400: 1.6,
);

// Weights
$font-weights: (
	regular: 400,
	medium: 500,
	bold: 700,
	extra-bold: 800,
	black: 900,
);
