.material-symbols-rounded {
	font-family: 'Material Symbols Rounded';
	font-weight: 500;
	font-style: normal;
	font-size: 1em;
	width: 1em;
	height: 1em;
	line-height: 1;
	display: inline-block;
	vertical-align: -0.125em;
	white-space: nowrap;
	overflow-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	font-variation-settings:
		'wght' 500,
		'FILL' 0,
		'GRAD' 0;
}

.icon-filled {
	font-variation-settings:
		'wght' 500,
		'FILL' 1,
		'GRAD' 0;
}
