@use './variables' as *;
@use './functions' as *;
@use './typography' as *;
@use './mixins' as *;

* {
    box-sizing: border-box;
}

body {
    background: var(--color-background);
    margin: 0;
}

html, body {
    overflow-x: hidden;
}