@use './variables' as *;
@use './functions' as *;
@use 'sass:color';
@use 'sass:map';

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: var(--color-background);
    color: var(--color-dark);
    font-family: $font-body;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: $font-heading;
    font-weight: var(--font-weight-extra-bold);
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-primary);
    text-underline-offset: px-to-rem(6);

    &:hover {
        color: color.adjust(map.get($main-colors, primary), $lightness: -16%);
    }

    &:active {
        color: color.adjust(map.get($main-colors, primary), $lightness: -32%);
    }

    &:hover, &:active {
        text-decoration: underline;
        text-underline-offset: px-to-rem(6);
    }

    &:focus {
        outline: px-to-rem(3) solid var(--color-primary);
        outline-offset: px-to-rem(4);
        border-radius: px-to-rem(2);
        text-decoration: none;;
    }
}

.wrapper {
    max-width: px-to-rem(960);
    margin: 0 auto;
    padding: 0 px-to-rem(24);
}

// Dots used in footer and other components
.dots-row {
    display: flex;
    justify-content: center;
    gap: px-to-rem(8);

    .dot {
        width: px-to-rem(10);
        height: px-to-rem(10);
        border-radius: 50%;
        background: var(--color-light);
        display: inline-block;
    }
}