/* variables.css */

/* ------------------------------------------------------------- */
/* -- Fonts ---------------------------------------------------- */
/* ------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&family=Manrope:wght@400;500;700&display=swap');

/* ------------------------------------------------------------- */
/* -- Design Tokens  ------------------------------------------- */
/* ------------------------------------------------------------- */

:root {
	/* ------------------------------------------------------------- */
	/* -- Color  --------------------------------------------------- */
	/* ------------------------------------------------------------- */

	/* -- Primitives -- */
	--color-primitive-gray-900: #1d0d3a;
	--color-primitive-gray-500: #685e7d;
	--color-primitive-gray-100: #cbd3de;
	--color-primitive-gray-50: #e1e4eb;
	--color-primitive-gray-0: #ffffff;
	--color-primitive-purple-900: #30008b;
	--color-primitive-purple-600: #5220ac;
	--color-primitive-purple-500: #6f42c1;
	--color-primitive-purple-100: #e1d1ff;
	--color-primitive-indigo-900: #070d6d;
	--color-primitive-indigo-600: #5220ac;
	--color-primitive-indigo-500: #6f42c1;
	--color-primitive-indigo-100: #cfd2ff;
	--color-primitive-teal-900: #00435d;
	--color-primitive-teal-600: #5220ac;
	--color-primitive-teal-500: #6f42c1;
	--color-primitive-teal-100: #d1f2ff;

	/* -- Content -- */
	--color-content-default: var(--color-primitive-gray-900);
	--color-content-muted: var(--color-primitive-gray-500);
	--color-content-inverse: #ffffff;

	/* -- Background -- */
	--color-surface: #ffffff;

	/* Primary */
	--color-primary: var(--color-primitive-purple-500);
	--color-primary-title: var(--color-primitive-purple-900);
	--color-primary-chip: #340096;
	--color-primary-link: var(--color-primitive-purple-600);
	--color-primary-bg: var(--color-primitive-purple-100);

	/* Secondary */
	--color-secondary-title: #00098a;
	--color-secondary-chip: var(--color-primitive-indigo-900);
	--color-secondary-link: #343aa8;
	--color-secondary-bg: var(--color-primitive-indigo-100);

	/* Tertiary */
	--color-tertiary-title: #005475;
	--color-tertiary-chip: var(--color-primitive-teal-900);
	--color-tertiary-link: #01628a;
	--color-tertiary-bg: var(--color-primitive-teal-100);

	/* States & Effects */
	--color-sample-shadow-opacity: 0.32;
	--color-state-hover-lightness: -12%;
	--color-state-pressed-lightness: -24%;

	/* Gradients */
	--color-gradient-primary: linear-gradient(
		78deg,
		#1e0095 9.5%,
		#a152fb 88.75%
	);
	--color-gradient-primary-hover: linear-gradient(
		83deg,
		#1e0095 94.32%,
		#a152fb 113.41%
	);

	/* ------------------------------------------------------------- */
	/* -- Size  ---------------------------------------------------- */
	/* ------------------------------------------------------------- */

	/* -- Space -- */
	--space-none: 0px;
	--space-xs: 4px;
	--space-sm: 8px;
	--space-md: 12px;
	--space-lg: 16px;
	--space-xl: 20px;
	--space-2xl: 24px;
	--space-3xl: 32px;
	--space-section-sm: 40px;
	--space-section-md: 48px;
	--space-section-lg: 56px;
	--space-section-xl: 64px;
	--space-section-3xl: 104px;

	/* -- Radius -- */
	--radius-none: 0px;
	--radius-2xs: 2px;
	--radius-xs: 4px;
	--radius-sm: 8px;
	--radius-md: 12px;
	--radius-lg: 16px;

	/* -- Wrappers -- */
	--wrapper-content: 760px;
	--wrapper-site: 960px;

	/* -- Breakpoints -- */
	--breakpoint-xs: 340px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 900px;
	--breakpoint-wrapper: var(--wrapper-site);

	/* ------------------------------------------------------------- */
	/* -- Typography  ---------------------------------------------- */
	/* ------------------------------------------------------------- */

	/* -- Font Family -- */
	--font-heading: 'Inter', Arial, sans-serif;
	--font-body: 'Manrope', Arial, sans-serif;

	/* -- Font Size -- */
	--base-font-size: 16px;

	--font-size-xs: 12px;
	--font-size-sm: 14px;
	--font-size-md: 16px;
	--font-size-lg: 20px;
	--font-size-xl: 24px;
	--font-size-2xl: 32px;
	--font-size-3xl: 40px;
	--font-size-4xl: 56px;

	/* -- Line Height -- */
	--line-height-heading: 1.2;
	--line-height-body: 1.4;

	/* Font Weights */
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
	--font-weight-extra-bold: 800;
	--font-weight-black: 900;
}
