.study-image {
	display: flex;
	flex-direction: column;
	margin-top: var(--size-space-3xl); // 32px
	gap: var(--size-space-md); // 12px
}

.image {
	width: 100%;
	height: auto;
	border-radius: var(--size-radius-lg); // 16px
}

.square {
	border-radius: 0;
}

.image-caption {
	@extend .caption-md;
	color: var(--color-medium);
	text-align: center;
}

.image-fallback-wrapper {
	border-radius: var(--size-radius-lg); // 16px
	padding: var(--size-space-section-lg) 0; // 64px 0

	svg {
		height: auto;
		width: 30%;
		opacity: 30%;
	}
}
