@use 'sass:map';

// Dots used in footer and other components
.wrapper {
  display: flex;
  justify-content: center;
}

.dot {
  width: px-to-rem(10);
  height: px-to-rem(10);
  border-radius: 50%;
  background: var(--color-light);
  display: inline-block;
}

.dots-wrapper {
  display: flex;
  align-items: center;
  gap: spacing(100); // 8px
}

.line {
  display: flex;
  flex: 1 1 auto;
  height: px-to-rem(1);
  background: var(--color-light);
}

.section-divider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding: spacing(500) 0; // 40px 0  

  .line {
    flex: 1 1 px-to-rem(40);
    margin: 0 spacing(400);
  }

  &.align-left {
    > :first-child {
      margin-left: 0;
      flex: 0 1 px-to-rem($divider-left - map.get($spacing, 100));
    }

    > :last-child {
      margin-right: 0;
    }

    @include respond(wrapper) {
      > :first-child,
      >:last-child {
        flex: 1 1 100%;
      }
    }
  }
}

.section-header {
  display: flex;
  align-items: center;
  gap: spacing(300); // 24px
  margin-bottom: spacing(300); // 24px

  &.align-left .group:first-child {
    max-width: px-to-rem($divider-left);

    @include respond(wrapper) {
      max-width: 100%;
    }
  }
}

.text {
  @extend .heading-lg;
}

.group {
  display: flex;
  flex: 1 auto;
  align-items: center;
  gap: spacing(300); // 24px
}