@use '@styles/all' as *;

// Dots used in footer and other components
.wrapper {
    display: flex;
    justify-content: center;
    gap: px-to-rem(8);

    .dot {
        width: px-to-rem(10);
        height: px-to-rem(10);
        border-radius: 50%;
        background: var(--color-light);
        display: inline-block;
    }
}

.section-divider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: px-to-rem(8);
  padding: px-to-rem(32) 0;
}

.line {
    flex: 1 1 px-to-rem(40);
    height: px-to-rem(1);
    background: var(--color-light);
    margin: 0 px-to-rem(32);

    @include respond(xs) {
      display: none;
    } 
  }