@use 'sass:map';

.wrapper {
    @include respond(sm) {
        text-align: center;
    }
}

.divider {
    padding-top: 0;
    padding-bottom: spacing(600); // 48px
}

.content {
    @include wrapper-max-width(content);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: spacing(500); // 40px
    padding: 0 spacing(300) px-to-rem(104) spacing(300); // 0 24px 104px 24px

    @include respond(sm) {
        padding: spacing(200) spacing(200) spacing(800) spacing(200); // 16px 16px 64px 16px
    }

    @include respond(xs) {
        padding: spacing(100) spacing(100) spacing(600) spacing(100); // 8px 8px 48px 8px
        gap: spacing(300); // 24px
    }
}

.top {
    display: flex;
    flex-direction: column;
    gap: spacing(200); // 16px
    padding-right: spacing(600); // 48px

    @include respond(sm) {
        padding-right: 0;
        gap: spacing(100); // 8px
    }
}

.title {
    @extend .title-md;
    line-height: 1.2;
    display: flex;
    flex-direction: column;

    @include respond(sm) {
        display: inline;
        align-items: center;

        & > *:not(:last-child) {
            margin-right: 0.2em;
        }
    }
}

.description {
    @extend .body-lg;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: spacing(300); // 24px
}

.button {
    @include interactive-states(map.get($group-palettes, primary, title), true);
    background-color: var(--group-primary-title);
    font-size: font-size(200);
    text-align: left;

    svg {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.1em
    }

    @include respond(sm) {
        font-size: font-size(150);
        align-self: center
    }

    @include respond(sm) {
        font-size: font-size(100);
    }
}

.byline {
    @extend .body-sm;
    display: inline-flex;
    flex-wrap: wrap;

    >*:not(:nth-last-child(-n+2)) {
        margin-right: 0.2em;
    }

    @include respond(sm) {
        justify-content: center;
        text-align: center;
    }
}