@use '@styles/functions' as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use 'sass:map';


// Palette modifiers
@each $key, $palette in $sample-palettes {
  :global(.#{$key}-card) {
    background: map.get($palette, bg);

    a, svg {
      @include link-palette($palette);
    }

    .case-study-image {
      box-shadow: 0 0 px-to-rem(56) px-to-rem(16) rgba(map.get($palette, link), $sample-shadow-opacity);
    }

    .case-study-image-fallback {
      background: map.get($palette, link);

      svg {
        fill: white;
      }
    }
  }
}

// Case Study Card styles
.card {
    display: flex;
    border-radius: px-to-rem(16);
    overflow: hidden;
    justify-content: space-between;

    @include respond(sm) {
        max-height: px-to-rem(360);
    }

    .case-study-image-wrapper {
        height: 100%;
    }

    .case-study-image {
        overflow: hidden;
        position: relative;
        border-radius: px-to-rem(8);
        object-fit: cover;
        object-position: left top;
        height: 100%;
        width: 100%;
    }

    &.vertical {
        flex-direction: column;
        
        .case-study-image-wrapper {
            height: px-to-rem(280);
        }

        .case-study-image {
            left: px-to-rem(64);
            top: px-to-rem(32);
        }
       
    }

    &.horizontal {
        flex-direction: row;
        max-height: px-to-rem(360);

        .case-study-image-wrapper {
            width: 45%;
            flex: 1 1 45%;
        }

        .case-study-image {
            top: px-to-rem(64);
            left: px-to-rem(-16);
            width: calc(100% + px-to-rem(16));;
        }
    }

    &.vertical, &.horizontal {
        width: 100%;

        @include respond(md) {
            flex-direction: row;
            max-height: px-to-rem(300);

            .case-study-image-wrapper {
                height: auto;
                width: 50%;
                flex: 1 1 50%;
            }

            .case-study-image {
                left: px-to-rem(16);
                top: px-to-rem(48);
                aspect-ratio: 1;
            }
        }

        @include respond(sm) {
            flex-direction: column;
            gap: px-to-rem(4);

            .case-study-image-wrapper {
                height: px-to-rem(280);
                width: 100%;
                flex: 1 1 100%;
            }

            .case-study-image {
                max-width: 100%;
                left: px-to-rem(64);
                top: 0;
            }
        }
    }
}

.case-study-image-fallback {
    border-radius: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(48);
    padding: px-to-rem(24) px-to-rem(24) px-to-rem(32) px-to-rem(24);
    align-items: flex-start;
    width: 100%;

    .text {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(8);    
    }

    h3 {
        font-size: px-to-rem(32);
        font-weight: var(--font-weight-extra-bold);
        line-height: 1.4;
        margin: 0;

        @include respond(md) {
            font-size: px-to-rem(24);
        }

        @include respond(sm) {
            font-size: px-to-rem(18);
        }
    }

    p {
        @include respond(sm) {
            font-size: px-to-rem(14);
        }
    }

    a {
        font-size: px-to-rem(20);
        font-weight: var(--font-weight-bold);

        @include respond(sm) {
            font-size: px-to-rem(16);
        }
    }

    @include respond(md) {
        justify-content: space-between;
        width: 50%;
        flex: 1 1 50%;
    }

    @include respond(sm) {
        justify-content: flex-start;
        width: 100%;
        flex: auto;
        gap: px-to-rem(24);
    }
}