.top-section {
    margin-bottom: spacing(300); // 24px
}

.title {
    @extend .page-title;
    line-height: 1.2;
    margin-bottom: spacing(100); // 8px
}

.role, .date {
    @extend .dot-text-divider;
}

.chip-row {
    max-width: px-to-rem(500);
}

.description:not(:last-of-type) {
    margin-bottom: spacing(300); // 24px
}