.top-section {
	margin-bottom: var(--size-space-2xl);
}

.title {
	// @extend .page-title;
	line-height: 1.2;
	margin-bottom: var(--size-space-sm);
}

.chip-row {
	max-width: 500px;
}

.description:not(:last-of-type) {
	margin-bottom: var(--size-space-2xl);
}
