/* Header.module.css */

/* ------------------------------------------------------------- */
/* -- Header Layout -------------------------------------------- */
/* ------------------------------------------------------------- */

header {
	max-width: var(--size-layout-content-max);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--size-space-2xl);
	padding: var(--size-space-section-md) 0 0 0;
}

/* ------------------------------------------------------------- */
/* -- Brand ---------------------------------------------------- */
/* ------------------------------------------------------------- */

.brand {
	color: var(--color-content-default);
	font-family: var(--font-family-heading);
	font-size: var(--font-style-heading-sm-size);
	font-style: normal;
	font-weight: var(--font-weight-strong);
	line-height: var(--font-style-heading-sm-line-height);
	gap: var(--size-space-sm);
}

/* ------------------------------------------------------------- */
/* -- Navigation ----------------------------------------------- */
/* ------------------------------------------------------------- */

nav ul {
	display: flex;
	align-items: center;
	gap: var(--size-space-2xl);
}

.nav-link {
	color: var(--color-primary-default);
	font-family: var(--font-family-body);
	font-size: var(--font-style-body-lg-size);
	font-weight: var(--font-weight-strong);
	line-height: var(--font-style-body-lg-line-height);
}

.nav-link-active {
	color: var(--color-content-default);
	text-decoration: underline;
	text-underline-offset: 0.3em;
}

/* ------------------------------------------------------------- */
/* -- Accessibility / Skip Link -------------------------------- */
/* ------------------------------------------------------------- */

.skip-link:focus-visible {
	background: var(--color-primary-default);
	color: var(--color-content-inverse);
	font-size: var(--font-size-sm);
	width: auto;
	height: auto;
	margin: var(--size-space-md);
	padding: var(--size-space-md) var(--size-space-lg);
	z-index: 1000;
	white-space: normal;
	border-radius: var(--size-radius-xs);
	overflow: auto;
	text-decoration: underline;
	top: 0;
	left: 0;
	clip-path: none;
	transition: none;
	outline: none;
}
