/* Header.module.scss */

@use 'sass:map';

.wrapper {
	@include wrapper-max-width(content);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: var(--size-space-2xl) var(--size-space-2xl)
		var(--size-space-section-md) var(--size-space-2xl);  24px 48px 24px

	// @include respond(sm) {
	// 	align-items: center;
	// 	text-align: center;
	// 	padding: var(--size-space-lg) var(--size-space-lg)
	// 		var(--size-space-section-sm) var(--size-space-lg);  16px 48px 16px
	// }

	// @include respond(xs) {
	// 	padding: var(--size-space-sm) var(--size-space-sm)
	// 		var(--size-space-section-sm) var(--size-space-sm);  8px 48px 8px
	// }
}

.page-title-lg {
	@extend .title-lg;
	color: var(--group-primary-title);
	margin-bottom: var(--size-space-xs); // 4px
}

.description {
	@extend .body-lg;
	margin-bottom: var(--size-space-3xl); // 32px
	display: flex;
	flex-direction: column;

	// @include respond(sm) {
	// 	display: inline;

	// 	.description1 {
	// 		margin-right: var(--size-space-xs); // 4px
	// 	}
	// }
}

.byline {
	@extend .body-sm-bold;
	margin-bottom: var(--size-space-2xl); 
}

.button {
	@include interactive-states(map.get($group-palettes, primary, title), true);
	background-color: var(--group-primary-title);

	svg {
		margin-left: 0.1em;
	}

	// @include respond(sm) {
	// 	font-size: var(--font-size-lg);
	// 	align-self: center;
	// }
	// var(--font-size-md) @include respond(xs) {
	// 	font-size: var(--font-size-md);
	// }
}
