@use '../styles/functions' as *;

// Dots used in footer and other components
.dots-row {
    display: flex;
    justify-content: center;
    gap: px-to-rem(8);

    .dot {
        width: px-to-rem(10);
        height: px-to-rem(10);
        border-radius: 50%;
        background: var(--color-light);
        display: inline-block;
    }
}