@use '../styles/variables' as *;
@use '../styles/functions' as *;


// Styles for the Header component
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: px-to-rem(56) 0 0 0;

    a {
        text-decoration: none;
        font-weight: var(--font-weight-black);
        font-size: px-to-rem(20);
    }
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0;

    li {
        display: flex;
        align-items: center;

        &:not(:first-child)::before {
            content: '';
            display: inline-block;
            width: px-to-rem(10);
            height: px-to-rem(10);
            border-radius: 50%;
            background: var(--color-light);
            margin: 0 px-to-rem(16);
        }
    }
}

.byline {
    display: block;
    font-size: px-to-rem(12);
    margin-top: px-to-rem(4);
}