@use '@styles/variables' as *;
@use '@styles/functions' as *;
@use '@styles/typography' as *;

// Work intro styles 
.work-intro-wrapper {
    padding: px-to-rem(24) 0 px-to-rem(40) 0;
    display: flex;
    flex-direction: column;
    gap: px-to-rem(16);
    align-items: center;
    text-align: center;

    h2 {
        @extend .body-large;
        font-weight: var(--font-weight-regular);
        font-family: $font-body;
    }
}