@use '@styles/all' as *;



// Styles for the Footer component
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: spacing(800) 0 px-to-rem(104) 0; // 64px 0 104px 0
    gap: spacing(400); // 32px
    width: 100%;

    .footer-wrapper {
        @include wrapper-max-width(content);
        display: flex;
        flex-direction: column;
        gap: px-to-rem(40);
    }

    @include respond(sm) {
        align-items: center;
        text-align: center;
    }
}

.text {
    display: flex;
    flex-direction: column;
    gap: spacing(200); // 16px

    @include respond(sm) {
        flex: auto;
    }
}

.title {
    @extend .title-md;
}

.description {
    @extend .body-lg;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: spacing(300); // 24px
    align-items: flex-start;
    width: 100%;

    a {
        font-size: px-to-rem(24);
        font-weight: var(--font-weight-bold);
    }

    @include respond(sm) {
        gap: spacing(250); // 20px
        align-items: center;
        text-align: center;

        a {
            font-size: px-to-rem(20);
        }
    }

    @include respond(xs) {
        a {
            font-size: px-to-rem(16);
        }
    }
}