@use '@styles/all' as *;

.wrapper {
    @extend .body-sm;
    display: flex;
    flex-direction: column;
    border: px-to-rem(2) solid var(--color-medium);
    border-radius: radius(300);
    padding: spacing(300) spacing(700) spacing(300) spacing(300); // 24px 56px 24px 24px
    gap: spacing(300); // 24px

    @include respond(sm) {
        padding-right: spacing(300); // 24px
    }
}

@each $type in (primary, secondary, tertiary) {
    .#{$type} {
        border-color: var(--group-#{$type}-bg);

        .title {
            color: var(--group-#{$type}-title);
        }
    }
}

.title {
    @extend .heading-md;
}

.top {
    display: flex;
    flex-direction: column;
    gap: spacing(50); // 4px
}