/* SkillCard.module.scss */

.wrapper {
	display: flex;
	flex-direction: column;
	border: 2px solid var(--color-content-muted);
	border-radius: var(--size-radius-md);
	padding: var(--size-space-2xl) var(--size-space-section-md)
		var(--size-space-2xl) var(--size-space-2xl);
	gap: var(--size-space-2xl);
}

.brand,
.primary,
.secondary,
.tertiary {
	border-color: var(--variant-default);
}

.brand .title,
.primary .title,
.secondary .title,
.tertiary .title {
	color: var(--variant-default);
}

.top {
	display: flex;
	flex-direction: column;
	gap: var(--size-space-xs);
}

@media (width <= 640px) {
	.wrapper {
		padding-right: var(--size-space-2xl);
	}
}
