/* Chip.module.css */

.wrapper {
	background: var(--color-placeholder);
	padding: var(--size-space-sm) var(--size-space-md);
	border-radius: var(--size-radius-sm);
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-emphasis);
	line-height: var(--line-height-100);
}

.brand,
.primary,
.secondary,
.tertiary {
	background: var(--variant-container);
	color: var(--variant-on-container);
}

.small {
	padding: var(--size-space-sm) var(--size-space-sm);
	font-size: var(--font-size-sm);
	border-radius: var(--size-radius-xs);
}
