/* Chip.module.css */

.chip {
	display: flex;
	padding: var(--size-space-md) var(--size-space-md);
	border-radius: var(--size-radius-sm);
}

.chip-label {
	font-family: var(--font-family-body);
	font-weight: var(--font-weight-emphasis);
	line-height: var(--font-line-height-default);
	font-size: var(--font-size-md);
	text-box: trim-both cap alphabetic;
}

.brand,
.primary,
.secondary,
.tertiary {
	background: var(--variant-container);
	color: var(--variant-on-container);
}

.chip .small {
	padding: var(--size-space-sm) var(--size-space-md);
	font-size: var(--font-size-sm);
	border-radius: var(--size-radius-xs);
}
