/* Chip.module.scss */

.wrapper {
	background: var(--color-placeholder);
	padding: var(--size-space-sm) var(--size-space-md);
	border-radius: var(--size-radius-sm);
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-emphasis);
	line-height: var(--line-height-100);
}

@each $type in (primary, secondary, tertiary) {
	.#{$type} {
		background: var(--group-#{$type}-bg);
		color: var(--group-#{$type}-chip);
	}
}

.small {
	padding: var(--size-space-sm) var(--size-space-sm);
	font-size: var(--font-size-sm);
	border-radius: var(--size-radius-xs);
}
