/* Chip.module.css */

.wrapper {
	background: var(--color-placeholder);
	padding: var(--size-space-sm) var(--size-space-md);
	border-radius: var(--size-radius-sm);
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-emphasis);
	line-height: var(--line-height-100);
}

.primary {
	background: var(--group-primary-bg);
	color: var(--group-primary-chip);
}

.secondary {
	background: var(--group-secondary-bg);
	color: var(--group-secondary-chip);
}

.tertiary {
	background: var(--group-tertiary-bg);
	color: var(--group-tertiary-chip);
}

.small {
	padding: var(--size-space-sm) var(--size-space-sm);
	font-size: var(--font-size-sm);
	border-radius: var(--size-radius-xs);
}
