.wrapper {
  background: var(--color-placeholder);
  padding: spacing(75) spacing(150);
  border-radius: radius(200);
  font-family: $font-heading;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-100);
}

@each $type in (primary, secondary, tertiary) {
  .#{$type} {
    background: var(--group-#{$type}-bg);
    color: var(--group-#{$type}-chip);
  }
}

.small {
  padding: spacing(75) spacing(100);
  font-size: font-size(75);
  border-radius: radius(100);
}

