.wrapper,
:global(.experience-card-group) {
	display: flex;
	flex-direction: row;
	padding: var(--size-space-2xl) var(--size-space-section-md)
		var(--size-space-2xl) var(--size-space-2xl); // 24px 56px 24px 24px
	gap: var(--size-space-lg);
	border-radius: var(--size-radius-md);

	@include respond(sm) {
		padding-right: var(--size-space-2xl); // 24px
	}

	@include respond(xs) {
		flex-direction: column;
	}
}

:global(.experience-card-group) {
	display: flex;
	flex-direction: column;
	gap: var(--size-space-3xl);

	.wrapper {
		padding: 0;
	}
}

@each $type in (primary, secondary, tertiary) {
	:global(.#{$type}-experience-card) {
		background: var(--group-#{$type}-bg);
		margin: var(--size-space-lg) 0;
		.logo {
			background: var(--group-#{$type}-title);

			svg {
				fill: var(--color-white);
				opacity: 0.9;
			}
		}

		.title {
			color: var(--group-#{$type}-title);
		}
	}
}

.logo {
	width: 56px;
	height: 56px;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	background: var(--color-medium);

	svg {
		width: 100%;
		height: 100%;
		padding: var(--size-space-sm);
		fill: var(--color-white);
		opacity: 0.8;
	}

	@include respond(sm) {
		width: 50px;
		height: 50px;
	}
}

.details {
	display: flex;
	flex-direction: column;
	gap: var(--size-space-lg); // 16px
}

.title {
	@extend .heading-md-bold;
}

.sub-details {
	@extend .body-sm;
	display: flex;
	flex-wrap: wrap;
}

.callout {
	@extend .body-sm;
}
