@use '@styles/all' as *;

.wrapper, :global(.experience-card-group) {
    display: flex;
    flex-direction: row;
    padding: spacing(300) spacing(500) spacing(300) spacing(300);
    gap: spacing(200);
    border-radius: radius(300);

    @include respond(sm) {
        padding-right: spacing(300);
    }

    @include respond(xs) {
        flex-direction: column;;
    }
}

:global(.experience-card-group) {
    display: flex;
    flex-direction: column;
    gap: spacing(400);

    .wrapper {
        padding: 0;
    }
}

@each $type in (primary, secondary, tertiary) {
  :global(.#{$type}-experience-card) {
    background: var(--group-#{$type}-bg);
    margin: spacing(200) 0;

    .logo {
      background: var(--group-#{$type}-title);

      svg {
        fill: var(--color-white);
        opacity: 0.9;
      }
    }

    .title {
      color: var(--group-#{$type}-title);
    }
  }
}

.logo {
    width: px-to-rem(56);
    height: px-to-rem(56);
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background: var(--color-medium);

    svg {
        width: 100%;
        height: 100%;
        padding: spacing(75);
        fill: var(--color-white);
        opacity: 0.8;
    }

    @include respond(sm) {
        width: px-to-rem(50);
        height: px-to-rem(50);
    }
}

.details {
    display: flex;
    flex-direction: column;
    gap: spacing(200);
}

.title {
    @extend .heading-md-bold;
}

.sub-details {
    @extend .body-sm;
    display: flex;
    flex-wrap: wrap;
}

.company, .date {
    &::after {
        content: '·';
        display: inline-block;
        height: 100%;
        width: spacing(250);
        color: var(--color-medium);
        text-align: center
    }
}

.date, .location {
    color: var(--color-medium);
}

.callout {
    @extend .body-sm;
}