/* ExperienceSection.module.css */

.content {
	/* @include wrapper-max-width(content); */
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-bottom: var(--size-space-section-lg);
}

.card {
	&:first-child {
		margin-top: 0;
	}
}
