@use '@styles/variables' as *;
@use '@styles/functions' as *;
@use '@styles/mixins' as *;
@use 'sass:color';
@use 'sass:map';

a {
    @include link-palette();
    text-underline-offset: px-to-rem(6);
    font-family: $font-heading;
    font-weight: var(--font-weight-extra-bold);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: auto;
    flex: 0 1 auto;
    gap: px-to-rem(4);
    transition: color 0.3s ease-in-out;

    svg {
        @include link-palette();
        width: 1em;
        height: 1em;
        position: relative;
        transition: fill 0.3s ease-in-out;
        top: px-to-rem(1);
    }

    &:hover, &:active {
        text-decoration: underline;
        text-underline-offset: px-to-rem(6);
    }

    &:focus {
        text-decoration: none;
    }
}