@use '@styles/all' as *;
@use 'sass:map'; 

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 1em;
    height: 1em;
}

a {
    @include group-palette();
    text-underline-offset: 0.3em;
    font-family: $font-heading;
    font-weight: var(--font-weight-extra-bold);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: auto;
    flex: 0 1 auto;
    gap: 0.2em;
    transition: all 0.3s ease-in-out;
    border-radius: 0.15em;

    svg {
        @include group-palette();
        position: relative;
        transition: fill 0.3s ease-in-out;
    }

    &:hover, &:active {
        text-decoration: underline;
        text-underline-offset: 0.5em;
    }

    &:focus-visible {
        text-decoration: none;
    }
}

.button {
    display: flex;
    align-self: flex-start;
    padding: spacing(200) spacing(400);
    border-radius: radius(150);
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    line-height: var(--line-height-200);
    font-size: font-size(150);
    font-weight: var(--font-weight-bold);

    &:hover, &:active {
        text-decoration: none;
        color: var(--color-white);

        svg {
            fill: var(--color-white);
        }
    }

    svg {
        fill: var(--color-white);
    }

    @include interactive-states(map.get($main-colors, primary));
}