/* NotFound.module.css */

.wrapper {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: var(--color-secondary-container);
	color: var(--color-white);
	padding: spacing(600) spacing(300); // 48px 24px
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: spacing(700);
}

.copy {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: spacing(100);
}

.title {
	@extend .title-lg;
}

.description {
	@extend .body-lg;
}

.subtext {
	@extend .body-sm;
	position: absolute;
	bottom: var(--space-section-md);
	color: var(--color-secondary-container);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.preText {
	margin-right: 0.3em;
}

.endText {
	margin-left: 0.1em;
}

.button-404 {
	align-self: center;
	background: var(--color-secondary-container);
	color: var(--color-secondary-on-container);

	svg {
		fill: var(--color-secondary-on-container);
	}

	&:hover {
		color: change-lightness(var(--color-secondary-on-container), hover);
		background: change-lightness(var(--color-secondary-container), hover);
	}

	&:hover svg {
		fill: change-lightness(var(--color-secondary-on-container), hover);
	}

	&:active {
		color: change-lightness(var(--color-secondary-on-container), pressed);
		background: change-lightness(var(--color-secondary-container), pressed);
	}

	&:active svg {
		fill: change-lightness(var(--color-secondary-on-container), pressed);
	}

	&:focus-visible {
		outline-color: var(--color-secondary-container);
	}

	@include respond(sm) {
		font-size: font-size(125);
	}

	@include respond(xs) {
		font-size: font-size(100);
		padding: spacing(150) spacing(250);
	}
}

.subtext-link {
	color: var(--color-secondary-container);
	font-weight: var(--font-weight-bold);

	&:hover {
		color: change-lightness(var(--color-secondary-container), hover);
	}

	&:active {
		color: change-lightness(var(--color-secondary-container), pressed);
	}

	&:focus-visible {
		outline-color: var(--secondary-container);
	}
}
