/* NotFound.module.css */

.wrapper {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: var(--color-secondary-container);
	color: var(--color-content-inverse);
	padding: var(--size-space-section-sm) var(--size-space-2xl);
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--size-space-section-md);
}

.copy {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--size-radius-sm);
}

.subtext {
	position: absolute;
	bottom: var(--size-space-section-md);
	color: var(--color-secondary-container);
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
}

.pre-text {
	margin-right: 0.3em;
}

.end-text {
	margin-left: 0.1em;
}

.button-404 {
	align-self: center;
	background: var(--color-secondary-container);
	color: var(--color-secondary-on-container);

	svg {
		fill: var(--color-secondary-on-container);
	}

	&:hover {
		color: change-lightness(var(--color-secondary-on-container), hover);
		background: change-lightness(var(--color-secondary-container), hover);
	}

	&:hover svg {
		fill: change-lightness(var(--color-secondary-on-container), hover);
	}

	&:active {
		color: change-lightness(var(--color-secondary-on-container), pressed);
		background: change-lightness(var(--color-secondary-container), pressed);
	}

	&:active svg {
		fill: change-lightness(var(--color-secondary-on-container), pressed);
	}

	&:focus-visible {
		outline-color: var(--color-secondary-container);
	}
}

.subtext-link {
	color: var(--color-secondary-container);
	font-weight: var(--font-weight-emphasis);

	&:hover {
		color: change-lightness(var(--color-secondary-container), hover);
	}

	&:active {
		color: change-lightness(var(--color-secondary-container), pressed);
	}

	&:focus-visible {
		outline-color: var(--color-secondary-container);
	}
}

@media (width <= 640px) {
	.button-404 {
		font-size: font-size(125);
	}
}

@media (width <= 320px) {
	.button-404 {
		font-size: font-size(100);
		padding: var(--size-space-md) var(--size-space-xl);
	}
}
